<?xml version='1.0' encoding='utf-8'?>
<widget id="com.its.ITSApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ITSApp</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<platform name="android">
              <icon src="res/icons/android/icon-36-ldpi.png" density="ldpi" />
              <icon src="res/icons/android/icon-48-mdpi" density="mdpi" />
              <icon src="res/icons/android/icon-72-hdpi" density="hdpi" />
              <icon src="res/icons/android/icon-96-xhdpi" density="xhdpi" />
			  <icon src="res/icons/android/icon-144-xxhdpi" density="xxhdpi" />
     </platform>
</widget>
